@model MentalToHellFinal.Models.CustomUser.LifeConclusion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Model/_LayoutUser.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LifeConclusion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUsers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUsers.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LifeConclusionHead)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LifeConclusionHead)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LifeConExpl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LifeConExpl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LifeConDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LifeConDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
