@model MentalToHell.Models.Reports.Motivation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Motivation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotivationText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotivationText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
