@model MentalToHell.Models.User.UserPersonalState

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserPersonalState</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex.SexName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender.GenderName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonalLyfeJoy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonalLyfeJoy.LifeJoyExpl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobPosition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobSatisfaction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobSatisfaction.JobSatisfactionText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Religion.ReligionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttitudeToLife)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttitudeToLife)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Character)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Temperament)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temperament.TemperamentName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
