@model MentalToHell_3.Models.Users.JobSatisfaction

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Model/_Users.cshtml";
}

<h2>Details</h2>

<div>
    <h4>JobSatisfaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUsers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUsers.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobSatisfactionText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobSatisfactionText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
