@model IEnumerable<MentalToHell_3.Models.Users.JobSatisfaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Model/_Users.cshtml";
}

<h2>Удовлетворенность работой</h2>

<div>
    <a asp-action="Create">Сделать запись</a>
    <form asp-controller="JobSatisfactions" asp-action="Index" method="get">
        <div class="form-group">
            <label for="SearchString" class="control-label"></label>
            <input type="text" name="SearchString" class="form-control" />
            <input type="submit" value="Поиск" class="form-control" />
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                    Текст
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateSort">
                    Дата
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobSatisfactionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>  <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
