@model IEnumerable<MentalToHell_3.Models.Users.LifeJoy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Model/_Users.cshtml";
}

<h2>Удовлетворенность жизнью</h2>

<div>
    <a asp-action="Create">Создать</a>
    <form asp-controller="LifeJoys" asp-action="Index" method="get">
        <p>
            Текст: <input type="text" name="SearchString">
            <input type="submit" value="Поиск" />
        </p>
    </form>
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                    Текст
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateSort">
                    Дата
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LifeJoyExpl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> | <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
