@model MentalToHellFinal.Models.CustomUser.UserCurrentState

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Model/_LayoutUser.cshtml";
}

<h2>Удалить</h2>

<h3>Вы уверены?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUsers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUsers.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex.SexName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender.GenderName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Temperament)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temperament.TemperamentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Character)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Religion.ReligionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" />
        <br /> <br />
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
