@model IEnumerable<MentalToHellFinal.Models.CustomUser.UserCurrentState>
@using Microsoft.AspNetCore.Identity
@inject UserManager<MentalToHellFinal.Models.CustomUser.ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Model/_LayoutUser.cshtml";
}

<h2>Профиль Личности</h2>

@if (Model == null)
{
    <div>
        <a asp-action="Create" class="user-action">Добавить</a>
    </div>
}
<div class="row">
    <ul id="curr-user-st" class="col-sm-12">
        <li>
            Пользователь
            <ul class="curr-user-el">
                @foreach (var item in Model)
                {
                    @if (UserManager.GetUserId(User) == item.ApplicationUserId.ToString())
                    {
                        <li>@Html.DisplayFor(modelItem => item.ApplicationUsers.Id)</li>
                    }
                }
            </ul>
        </li>
        <li>
            Пол:
            <ul class="curr-user-el">
                @foreach (var item in Model)
                {
                    @if (UserManager.GetUserId(User) == item.ApplicationUserId.ToString())
                    {
                        <li>@Html.DisplayFor(modelItem => item.Sex.SexName)</li>
                    }
                }
            </ul>
        </li>
        <li>
            Гендер:
            <ul class="curr-user-el">
                @foreach (var item in Model)
                {
                    @if (UserManager.GetUserId(User) == item.ApplicationUserId.ToString())
                    {
                        <li>@Html.DisplayFor(modelItem => item.Gender.GenderName)</li>
                    }
                }
            </ul>
        </li>
        <li>
            Темперамент:
            <ul class="curr-user-el">
                @foreach (var item in Model)
                {
                    @if (UserManager.GetUserId(User) == item.ApplicationUserId.ToString())
                    {
                        <li>@Html.DisplayFor(modelItem => item.Temperament.TemperamentName)</li>
                    }
                }
            </ul>
        </li>
        <li>
            @Html.DisplayNameFor(model => model.Credo)
            <ul class="curr-user-el">
                @foreach (var item in Model)
                {
                    @if (UserManager.GetUserId(User) == item.ApplicationUserId.ToString())
                    {
                        <li>@Html.DisplayFor(modelItem => item.Credo)</li>
                    }
                }
            </ul>
        </li>
        <li>
            Характер:
            <ul class="curr-user-el">
                @foreach (var item in Model)
                {
                    @if (UserManager.GetUserId(User) == item.ApplicationUserId.ToString())
                    {
                        <li>@Html.DisplayFor(modelItem => item.Character)</li>
                    }
                }
            </ul>
        </li>
        <li>
            Религия:
            <ul class="curr-user-el">
                @foreach (var item in Model)
                {
                    @if (UserManager.GetUserId(User) == item.ApplicationUserId.ToString())
                    {
                        <li>@Html.DisplayFor(modelItem => item.Religion.ReligionType)</li>
                    }
                }
            </ul>
        </li>
        <li>
            @Html.DisplayNameFor(model => model.Birthday)
            <ul class="curr-user-el">
                @foreach (var item in Model)
                {
                    @if (UserManager.GetUserId(User) == item.ApplicationUserId.ToString())
                    {
                        <li>@Html.DisplayFor(modelItem => item.Birthday)</li>
                    }
                }
            </ul>
        </li>
    </ul>
    <ul class="col-sm-4 list-inline">
        <li>
            @foreach (var item in Model)
            {
                <a asp-action="Edit" class="user-action" asp-route-id="@item.Id">Изменить</a>
            }
        </li>
        <li>
            @foreach (var item in Model)
            {
                <a asp-action="Delete" class="user-action" asp-route-id="@item.Id">Удалить</a>
            }
        </li>
    </ul>
</div>